<div>
    <h2>Lecturers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="lecturer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Lecturer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Title</span></th>
                    <th><span>Teach</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lecturer in vm.lecturers track by lecturer.id">
                    <td><a ui-sref="lecturer-detail({id:lecturer.id})">{{lecturer.id}}</a></td>
                    <td>{{lecturer.name}}</td>
                    <td>{{lecturer.title}}</td>
                    <td>
                        <span ng-repeat="teach in lecturer.teaches">
                            <a class="form-control-static" ui-sref="classes-detail({id: teach.id})">{{teach.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="lecturer-detail({id:lecturer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lecturer.edit({id:lecturer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lecturer.delete({id:lecturer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
